name: hxl
channels:
  - conda-forge
  - defaults

dependencies:
  # ---- Core ----
  - python=3.10
  - pip
  - setuptools
  - wheel

  # ---- Basic system libs ----
  - ffmpeg
  - libsndfile
  - freetype
  - jpeg
  - lerc
  - libpng
  - libtiff
  - xz
  - zlib
  - zstd

  # ---- Python runtime ----
  - ipython
  - ipykernel
  - jupyter_core
  - jupyter_client

  # ---- Math & Sci stack ----
  - numpy
  - scipy
  - pandas
  - scikit-learn
  - scikit-image
  - matplotlib
  - pillow
  - h5py
  - networkx

  # ---- Audio stack ----
  - librosa
  - pysoundfile

  # ---- Useful libs ----
  - lxml
  - cryptography
  - requests
  - openssl

  # ---- pip packages ----
  - pip:
      - timm
      - ptflops
      - torchinfo
      - torchsummary
      - torchlibrosa
      - kmeans-pytorch
      - nltk
      - omegaconf
      - huggingface-hub
      - protobuf
      - decord
      - soundata
      - resampy
      - tqdm
      - loguru
      - arrow
      - filelock
      - wget
      - scrapy
      - parsel
      - cssselect
      - tldextract
      - protego
      - tensorboard
      - tensorboard-data-server
      - openpyxl
      - xlwt
      - mir-eval
      - future
      - ipdb
